---
import { ViewTransitions } from "astro:transitions";
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import 'modern-normalize/modern-normalize.css';
import '../styles/global.scss';
let { pageTitle, themeColor } = Astro.props;
themeColor = themeColor || '#009CBD';
pageTitle = pageTitle.replace(/^[- ]*|[- ]*$/g, '');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="{theme-color}" />
		<title>{pageTitle}</title>
        <ViewTransitions />
		<style define:vars={ {themeColor} }>
			h1 {
				color: var(--themeColor);
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<Header themeColor={themeColor} />
		{pageTitle && <h1>{pageTitle}</h1>}
        <main>
            <slot />
        </main>
		<Footer themeColor={themeColor} />
		<script>
			import '../scripts/menu.js';
		</script>
	</body>
</html>
